@tailwind base;
@tailwind components;
@tailwind utilities;

* { margin: 0; padding: 0; box-sizing: border-box; }
html { scroll-behavior: smooth; }
body { background-color: rgb(3, 7, 18); color: rgb(241, 245, 249); }

::-webkit-scrollbar { width: 8px; height: 8px; }
::-webkit-scrollbar-track { background: rgb(30, 41, 59); }
::-webkit-scrollbar-thumb { background: rgb(71, 85, 105); border-radius: 4px; }
::-webkit-scrollbar-thumb:hover { background: rgb(100, 116, 139); }
